  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
         <img src="{% static 'assets/img/RIC-SUB-LOGO.png' %}" alt="Rainedge Intl Center Logo" height="40" class="me-2">
        <h1 class="sitename" style="Font: Courier">Rainedge. Intl Center</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li class="dropdown"><a href="{% url 'index' %}"><span> Our Schools</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="{% url 'primary' %}">Elementary Section</a></li>
              <li><a href="{% url 'secondary' %}">HighSchool Section</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="{% url 'about' %}"><span>About</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="{% url 'about' %}">About Us</a></li>
              <li><a href="{% url 'admissions' %}">Admissions</a></li>
            </ul>
          </li>

          <li><a href="{% url 'students' %}">Students Life</a></li>
          <li><a href="{% url 'news' %}">News</a></li>
          <li><a href="{% url 'events' %}">Events</a></li>
          <li><a href="{% url 'alumni' %}">Alumni</a></li>
          <li class="dropdown"><a href="#"><span>More Pages</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="{% url 'privacy' %}">Privacy</a></li>
              <li><a href="{% url 'services' %}">Terms of Service</a></li>
              <li><a href="{% url 'four' %}">Error 404</a></li>
            </ul>
          </li>

          <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>


 
 <h2>Admin Dashboard</h2>

 <ul>
    <li>Total Students: {{ total_students }}</li>
    <li>Total Teachers: {{ total_teachers }}</li>
    <li>Total Courses: {{ total_courses }}</li>
    <li>Total Grades: {{ total_grades }}</li>
 </ul>

 <a href="/admin/">Go to Admin</a>


 
<footer id="footer" class="footer-16 footer position-relative dark-background">

    <div class="container">

      <div class="footer-main">
        <div class="row align-items-start">

          <div class="col-lg-5">
            <div class="brand-section">
              <a href="index.html" class="logo d-flex align-items-center mb-4">
                <span class="sitename">Rainedge.Intl Center</span>
              </a>
              <p class="brand-description">Developing Healthy and Working Communities.</p>
            </div>
          </div>

          <div class="col-lg-7">
            <div class="footer-nav-wrapper">
              <div class="row">

                

                <div class="col-6 col-lg-3">
                  <div class="nav-column">
                    <h6>Get in touch</h6>
                    <nav class="footer-nav">
                      <a href="{% url "contact" %}">Contacts</a>
                      <a href="{% url "maps" %}">Maps and directions</a>
                      <a href="{% url "contact" %}">Available jobs? Contact Us</a>
                      
                    </nav>
                  </div>
                </div>

                <div class="col-6 col-lg-3">
                  <div class="nav-column">
                    <h6> Our Website's Specs</h6>
                    <nav class="footer-nav">
                      <a href=" {% url "index" %}">Accessibility</a>
                      <a href="{% url "admissions" %}">Digital Accessibility</a>
                      <a href="{% url "privacy" %}">Privacy Statement</a>
                     
                    </nav>
                  </div>
                </div>

                <div class="col-6 col-lg-3">
                  <div class="nav-column">
                    <h6>Legal aid</h6>
                    <nav class="footer-nav">
                      <a href="{% url "contact" %}">Report an issue</a>
                      <a href="tel:+254721 334 651" class="call-btn">Schedule call</a>
                      <a href="{% url "privacy" %}">Legal enquires</a>
                      
                    </nav>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="footer-social">
        <div class="row align-items-center">

          <div class="col-lg-6">
            <div class="newsletter-section">
              <h5>Want to reach out?</h5>
              <p>Click away.</p>
            </div>
          </div>

          </div>

        </div>
      </div>

    </div>

    <div class="footer-bottom">
      <div class="container">
        <div class="bottom-content">
          <div class="row align-items-center">

            <div class="col-lg-6">
              <div class="copyright">
                <p>© <span class="sitename">Rainedge.Intl Center</span>. All rights reserved.</p>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="legal-links">
                <a href="{% url "privacy" %}">Privacy Policy</a>
                <a href="{% url "services" %}">Terms of Service</a>
                <a href="{% url "privacy" %}">Cookie Policy</a>
                <div class="credits">
                  <!-- All the links in the footer should remain intact. -->
                  <!-- You can delete the links only if you've purchased the pro version. -->
                  <!-- Licensing information: https://bootstrapmade.com/license/ -->
                  <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] 
                  Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </footer>
 